/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

/* .container {
    padding: 20px;
} */

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
    background-color: #00acb0;
    border-radius: 4px;
    color: #f8f8f8;
    display: inline-block;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn_sizeMin {
    min-height: 50px;
    min-width: 100px;
}

.btn_sizeFull {
    display: block;
    width: 25%;
}

.btn:hover {
    background-color: #008183;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
    display: flex;
    flex: 0 1 auto;
    /* defaults to 'row' */
    flex-direction: row;
    flex-wrap: wrap;
    /* defaults to 'flex-start' */
    justify-content: flex-start;
    align-items: flex-start;
}

.grid-col {
    flex: 0 0 auto;
    padding: 0 0.5rem 0.5rem;
    box-sizing: border-box;
    
    
}

.grid-col_1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
}

.grid-col_2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
}

.grid-col_3 {
    flex-basis: 25%;
    max-width: 25%;
}

.grid-col_4 {
    flex-basis: 100%;
    max-width: 100%;
}

.grid-col_5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
}

.grid-col_6 {
    flex-basis: 50%;
    max-width: 50%;
}

.grid-col_7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
}

.grid-col_8 {
    flex-basis: 100%;
    max-width: 100%;
}

.grid-col_9 {
    flex-basis: 75%;
    max-width: 75%;
}

.grid-col_10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
}

.grid-col_11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
}

.grid-col_12 {
    flex-basis: 100%;
    max-width: 100%;
}

/*-----------------------
Releaser Yourself Section
-----------------------*/
.release-container {
    background-color: coral;
}
.main-section {
    padding-left: 20%;
}

.release-yourself {
    flex-basis: 75%;
    max-width: 75%;
}

.release {
    font-size: 50px;
}

.member {
    font-size: 25px;
}



/*-----------------------
 Meet Your Team Section
-----------------------*/
.features-container {
    padding: 20px;
}
.team-heading {
    text-align: center;
    padding-left: 25%;
    max-width: 50%;
}

/*-----------------------
 Features Section
-----------------------*/
.team-header {
    font-size: 50px;
}

.producer-container{
    text-align: center;
    border: 2px solid black;
}

.producer {
    color: #f2f2f2;
    background-color: rgb(83, 83, 255);
    padding: 5px;
 
}

.producer-text {
    text-align: center;
}

.graphic-container{
    text-align: center;
    border: 2px solid black;
}

.graphic {
    color: #f2f2f2;
    background-color: rgb(83, 83, 255);
    padding: 5px;
 
}

.graphic-text {
    text-align: center;
}

.video-container{
    text-align: center;
    border: 2px solid black;
}

.video {
    color: #f2f2f2;
    background-color: rgb(83, 83, 255);
    padding: 5px;
 
}

.video-text {
    text-align: center;
}

/*-----------------------
 Release Section
-----------------------*/
.ready-section {
    max-width: 35%;
}
.ready-header {
    font-size: 50px;
}

/*-----------------------
 About Section
-----------------------*/

.about-section {
    text-align: center;
    padding-left: 25%;
    max-width: 50%;
}

.about-header {
    font-size: 50px;
}

/*-----------------------
Contact Section
-----------------------*/
.contact-section {
    text-align: center;
    padding-left: 25%;
    max-width: 50%;
}

.contact-text {
    font-size: 50px;
}

